<!DOCTYPE html>
<html lang="en">
<head>
  <title>Find Nearest Agents</title>
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->


    <link rel="stylesheet" href="{% static '/css/bootstrap_min.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome_min.css' %}">
    <script src="{% static '/js/jquery_min.js' %}"></script>
    <script src="{% static '/js/bootstrap_min.js' %}"></script>


     <link rel="stylesheet" href="{% static '/css/cssStyles.css' %}">
         <script src="{% static '/js/home_page.js' %}"></script>
</head>
<style type="text/css">

   .form-content {
    padding: 10%;
    border: 5px solid #ced4da;
    margin-bottom: 2%;
    margin-top: 5%;
}

#header2{
  font-size: x-large;
  font-family: initial;
  color:lightsalmon;
  font-weight: bold;
}

.editableColumnsStyle{
width:100px;

}

.header {
<!--  padding: 30px;-->
<!--  font-size: 40px;-->
  text-align: center;
  background: white;
}

a {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

<!--a:hover {-->
<!--  background-color: #555;-->
<!--}-->

<!--a:active {-->
<!--  background-color: black;-->
<!--}-->

<!--a:visited {-->
<!--  background-color: #ccc;-->
<!--}-->


</style>


  <body style="background-color:#b3f3fc">
     <div class="container-fluid">

       <div class="header" style="margin-top:30px; margin-bottom:30px;">

<!--            all places template-->

          <div class="table_dataSet">
              <h3 style="color:hotpink;font-style: #d01dd2;">  Find Nearest Agents Based on Select Places  </h3>

              <table class="table table-bordered"  style="margin-top:20px; border: 5px solid #ced4da;">
                        <thead>
                          <tr>
                            <th>S.NO</th>
                            <th>Place Name</th>
                            <th>Find Agents</th>
                          </tr>
                        </thead>
                        <tbody class="place_data">
                        </tbody>
                  </table>

              <div id="template">
                            <table class="place-form-list">
                                 <tr class="place-row-form">
                                    <td  class="sno"  style="text-align:center;"></td>
                                     <td  class="place_name"  style="text-align:center;"></td>
                                    <td class="find_agents"  style="text-align:center;"></td>
                                </tr>

                            </table>

                      </div>
               </div>

           <!--         find nearest agent templat-->



          <div class="find_allAgents">

               <button type="button"  class="btn btn-primary btn-edit" id="btn_back" style="margin-right:1000px;">Back</button>'
              <h3 style="color:hotpink;font-style: #d01dd2;">  Find All Nearest Agents </h3>

              Search table data : <input id="myInput" type="text" placeholder="Search..">

              <table class="table table-bordered"  style="margin-top:20px; border: 5px solid #ced4da;">
                        <thead>
                          <tr>
                            <th>S.NO</th>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>CITY</th>
                            <th>ADDRESS</th>
                            <th>ZIPCODE</th>
                            <th>STATE</th>
                          </tr>
                        </thead>
                        <tbody class="find_data">
                        </tbody>
                  </table>

              <div id="find_template">
                            <table class="find-form-list">
                                 <tr class="find-row-form">
                                    <td  class="sno"  style="text-align:center;"></td>
                                     <td  class="id"  style="text-align:center;"></td>
                                    <td class="name"  style="text-align:center;"></td>
                                    <td class="city"  style="text-align:center;"></td>
                                    <td class="address"  style="text-align:center;"></td>
                                    <td class="zip_code"  style="text-align:center;"></td>
                                    <td class="state"  style="text-align:center;"></td>
                                </tr>

                            </table>

                      </div>
               </div>

      </div>

      </div>



         </div>
  </body>

</html>



